
@{
    ViewData["Title"] = "BorrowBook";
}

<h1>BorrowBook</h1>

@if (ViewBag.BorrowBook != null)
{

    <p>Checkout Date: @(ViewBag.BorrowBook.CheckOutDate.ToLongDateString())</p>
    <p>Due Date: @(ViewBag.BorrowBook.DueDate.ToLongDateString())</p>
    <p>Return Date: @(ViewBag.BorrowBook.ReturnedDate.ToLongDateString())</p>

}