
@{
    ViewData["Title"] = "Create";
}

@if (ViewBag.Message != null)
{
    <p class="alert-@(ViewBag.Error != null ? "danger" : "success")">@(ViewBag.Message)</p>
    if (ViewBag.Error != null)
    {
        <ul>
            @foreach (Exception e in ViewBag.Exception.ValidationExceptions)
            {
                <li class="alert-danger">@(e.Message)</li>
            }
        </ul>
    }
}
<h1>Create Book</h1>

<form action="/Book/Create" method="post">
    <div>
        <label for="authorID">Author:</label>
        <select id="authorID" name="authorID">
            @foreach (Author author in ViewBag.Authors)
            {
                <option value="@(author.ID)">@(author.Name)</option>
            }
        </select>
        <label for="title">Title:</label>
        <input id="title" type="text" name="title" value="" />
        <label for="publicationDate">PublicationDate:</label>
        <input id="publicationDate" type="text" name="publicationDate" value="" />
    </div>
    <input type="submit" value="Submit" />
</form>