
@{
    ViewData["Title"] = "Create";
}

<h1>Create Book</h1>

<form action="/Book/Create" method="post">
    <div>
        <label for="id">Author:</label>
        <select id="id" name="id">
            @foreach (Author author in ViewBag.Author)
            {
                <option value="@(author.ID)">@(author.Name)</option>
            }
        </select>
    </div>    
    <input type="submit" value="Submit" />
</form>